:root{
    --background: #3E3E42;
    --text: #eeeeee;
    --questionBox: #252526;
    --footerColour: #007ACC;
    --bordercolour: black;
}

body{
    margin: 0;
    height: 100%;
    background-color: var(--background);
    color: var(--text);
    font-family: "Ubuntu", sans-serif;
    margin-top: 60px;
    
}

button{
    background-color: var(--background);
    border-radius: 10px;
    color: var(--text);
}

i{
    color: var(--text);
}

button.active{
    background-color: var(--text);
}

button.active i{
    color: var(--bordercolour);
}

.postSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 16px; 
}

.hostSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navBox{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 10px;
    margin-top: 10px;
    position: fixed;
    top: 10px; 
}

.navBox i{
    font-size: 30px;
}

.questionBox{
    margin-left: 2%;
    margin-top: 2%;
    padding: 5px;
    border-radius: 6px;
    border-color: var(--bordercolour);
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--questionBox);
    width: 80%;
}

.hostQuestionBox{
    margin-top: 2%;
    padding: 5px;
    border-radius: 6px;
    border-color: var(--bordercolour);
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--questionBox);
    width: 50%;
}

.textBox{
    background-color: var(--background);
    width: 95%;
    height: 50%;
    border-radius: 2px;
    margin-bottom: 5px;
}

.buttonBox{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 10px;
    width: 100%;
    background-color: var(--footerColour);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    font-size: 20px;
}

.fixed {
    position: fixed;
    bottom: 0;              
    left: 0;               
    width: 100%; 
    padding: 5px;          
    background-color: var(--footerColour);
    text-align: center;     
    z-index: 1000;          
}

.postBtn{
    width: 5%;
    padding: 5px;
}
.postBtn i{
    font-size: 20px;
}
.postWindow{
    position: fixed;              
    top: 50%;                    
    left: 50%;                   
    transform: translate(-50%, -50%); 
    background-color: white;     
    padding: 20px;                
    border-radius: 8px;           
    z-index: 1000;                                   
    display: flex;
    flex-direction: column;
    gap: 5px;          
}

.postWindow input{
    height: 150px;
    width: 200px;
    text-align: center;
}

