<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <script src="scripts\host.js"></script>
</head>

<body>
    <%- include('../partials/navbar') %>
    <div class="hostSection" id="hostBox">
    </div>

    <div class="fixed">
        <button id="refreshBtn" class="postBtn">refresh</button>
        
    </div>
</body>

</html>