<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <script src="scripts\index.js"></script>
</head>

<body>
    <%- include('../partials/navbar') %>
        <div class="postSection" id="postBox">
        </div>
        <br>
        <div class="gap">
        </div>
        <div class="fixed">
            <button id="postBtn" class="postBtn"><i class="fa-solid fa-pen-to-square"></i></button>

        </div>
</body>

</html>