<!DOCTYPE html>
<html lang="en">

<head>
    
</head>

<body>
    <form id="loginForm" action="/dologin" method="POST">
        <h2>Account Login</h2>
        <label for="username">Username:</label>
        <input type="text"  name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="passText"  name="password" required>
        
        <div class="showpass-checkdiv">
            <checkbox for="showingPass">Show Password</checkbox>
            <input type="checkbox" id="checkbox">
        </div>
        <button type="submit">Login</button>
    </form>
</body>

</html>