<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar') %>
    <form id="registerForm" action="/registerUser" method="POST">
        <h2>Account register</h2>
        <label for="username">Username:</label>
        <input type="text" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="passText" name="password" required>

        <div class="showpass-checkdiv">
            <checkbox for="showingPass">are you a host?</checkbox>
            <input type="checkbox" name="host" id="hostCheckbox">
        </div>
        <button type="submit">register</button>

        <h2>already have an account? login <a href="/login">here</a></h2>
    </form>
</body>

</html>